<link href="https://c.marketsmojo.com/mm-header/header.css?v=20240703143100" rel="stylesheet">
<link href="https://c.marketsmojo.com/header_nav.css?v=20240703143100" rel="stylesheet"/>
<link href="https://c.marketsmojo.com/mojoprofessional/verdict.css?v=20240703143100" rel="stylesheet"/>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<!-- <app-search></app-search>
<app-results></app-results> -->

<app-search (suggestionSelected)="onSuggestionSelected($event)"></app-search>
<app-results 
  [selectedOption]="selectedOption" 
  
  (close)="onClose()"
></app-results>


<section>
    <div class="listmojoarea_verdict" >	
		<div class="row" style="display: flex;">
			<div class="col-md-6">
				<p class="mojohead2">REAL TIME RESEARCH FOR ALL COMPANIES</p>	
				<!--<p class="mojohead3">The world of stocks changes every second and so should research. You now don’t need to track anything as we track every second for every stock for you</p>-->
				<div class="bullet_cio2">
					<ul>
						<li>Check for stock advice and detailed research which updates real time</li>
						<li>If you want a detailed read you can either download the full report or see it online, your choice</li>
						<li>Save it in watchlist to track, or simply add it to your portfolio if you are holding that stock</li>
					</ul>
				</div>				
				<div class="col-md-4 no-web no-tab">				
					<div class="anibanner"  ng-cloak>
						<a href="javascript:void(0);"><img src="https://i.marketsmojo.com/mojoprofessional/rtrr_image.png"></a>
					</div>
				</div>
				
                    
				
					<div class="getstartedcontent ">
	                    <div ng-click="getStarted_nl()" class="paybuttonconetnt"><a href="javascript:void(0);">Get Started</a></div>
					</div>
					
					
			</div>
			<div class="col-md-6 no-mob no-tab2">				
				<div class="anibanner" ng-cloak>
					<a href="javascript:void(0);"><img src="https://i.marketsmojo.com/mojoprofessional/rtrr_image.png"></a>
				</div>
			</div>
		</div>		
	</div>	
</section>


<section>
    <div class="listmojoarea_verdict2">
		<div class="row">
			<div class="col-md-12">
				<p class="mojohead4"><strong>ALL IN ONE REPORT-</strong>STOCK ADVISE, QUANTITY, BETTER STOCKS, PEERS, DETAILED RESEARCH<p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="banner-img">
					<img src="https://i.marketsmojo.com/mojoprofessional/verdict_banner0906.png" />
				</div>	
            </div>

        </div>
    </div>
</section>




<section>
    <div class="listmojoarea_verdict3"  ng-if="!block_clmm_content">
		<div class="row">
			<div class="col-md-12">
				<p class="mojohead4_1">HOW TO USE THIS SECTION<p>
			</div>
		</div>
		<div class="row" style="display: flex;">
			<div class="col-md-3">
				<p class="vertext"><img src="https://i.marketsmojo.com/mojoprofessional/verdict-icon1_new.png" /></p>
				<p class="vertext2"><strong>Simply input your stock –</strong> <br />Check for stock advice, how much to buy/sell/hold, what quantity, better stocks and detailed research which updates real time</p>				
			</div>
			<div class="col-md-3">
				<p class="vertext"><img src="https://i.marketsmojo.com/mojoprofessional/verdict-icon2_new.png" /></p>
				<p class="vertext2"><strong>Save the stock that interests you -</strong> <br />Save it in watchlist to track or simply add it to your portfolio if you holding that stock</p>		
			</div>
			<div class="col-md-3">
				<p class="vertext"><img src="https://i.marketsmojo.com/mojoprofessional/verdict-icon3_new.png" /></p>
				<p class="vertext2"><strong>Download the report -</strong> <br />If you want a detailed read you can either download the full report or see it online, your choice</p>		
			</div>
			<div class="col-md-3">
				<p class="vertext"><img src="https://i.marketsmojo.com/mojoprofessional/verdict-icon4_new.png" /></p>
				<p class="vertext2"><strong>Automated alerts –</strong> <br />Once you have added the stock to your watchlist or portfolio, we will be sending you alerts on all saved stocks</p>		
			</div>
		</div>
    </div>
</section>



